.simple-benchmark {
  overflow: hidden;
}

.simple-benchmark > .header {
  margin-bottom: 10px;
}

.simple-benchmark .log,
.simple-benchmark .current {
  float: left;
  width: 100px;
  min-height: 1px;
}
